* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #525252;
  background-color: #525252;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #3549ff;
  border: 1px solid #3549ff;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #5d6dff;
  border-color: #5d6dff;
}